{% extends "layouts/main.html" %} {% block title %} CMS / Site config {%
endblock %} {% block content %}

<form
    action="{{ url_for('update_site_configuration') }}"
    method="post"
    enctype="multipart/form-data"
>
    <h2 class="subtitle">Site configuration</h2>

    <div class="field">
        <label for="site-name" class="label">Site name</label>
        <div class="control">
            <input
                type="text"
                class="input"
                name="site-name"
                id="site-name"
                value="{{ site_configuration.name }}"
            />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Save</button>
        </div>
    </div>
</form>
{% endblock %}
