{% extends "layouts/main.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="columns mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Hola</th>
                    <th>dos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>asdasd</td>
                    <td>adasdasd</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
